
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color:white ;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
    
.calculator{
    width: 300px;
    height: 530px;
    box-shadow: 4px 4px 30px rgba(0, 0,0, 0.3);
    border-radius: 12px;
    background: grey;
    overflow: hidden; 
}
form input{
    width: 100%;
    height: 150px;
    border-radius: 12px;
    font-size: 2rem;
    padding: 1rem;
    color: white;;
    background:black;
    text-align: right;
    pointer-events: none; 
}
.button{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;

}
button{
    flex:0 0 22%;
    margin:5px 0;
    height:60px;
    width:52px;
    border-radius: 5px;
    border:1px solid black;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;


}

.btn-yellow{
    background: rgb(229, 181, 8);
    color: white;
}

.btn-clear{

    background-color: red;
}
.btn-equal{
    background: green;
}
